{% extends '/Admin/layout.html.twig' %}

{% block body %}
    <h1>Edit Subclass</h1>

    {% include '/Admin/GeneralSettings/_form.html.twig' with {'form': form, 'action': path('rx_admin_subclass_edit', { 'id': form.vars.value.id })} %}
{% endblock %}