/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/uploads/
/var/
/vendor/
.phpunit
/phpunit.xml
/.web-server-pid
.idea
.DS_Store
.php_cs.cache
/public/img/logo.png
/public/img/big_logo.png
