<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {%- if block('title') -%}
                {{ block('title') }} | wealthbot.io
            {%- else -%}
                wealthbot.io
            {%- endif -%}
        </title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link id="base-style" rel="stylesheet" href="/css/theme-css/style.css">

        {% block stylesheets %}
            {% stylesheets
                'bundles/user/css/*'
                'bundles/wealthbotria/css/*'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script type="text/javascript" src="/js/jquery.form.js"></script>
            <script type="text/javascript" src="/js/jquery.autoNumeric.js"></script>
            <script type="text/javascript" src="/js/jquery.placeholder.min.js"></script>
            <script type="text/javascript" src="/js/custom.js"></script>
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/js/typeahead.js"></script>
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        {% endblock %}
    </body>
</html>