{{ render(controller('WealthbotRiaBundle:Dashboard:companyInformation'))}}

<div class="row">
    <div class="col-md-12">
        <div class="navbar navbar-default ria-nav">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Everything you want hidden at 940px or less, place within here -->
                    {% set route = app.request.attributes.get('_route') %}
                    {{ render(controller('WealthbotRiaBundle:Dashboard:menu', { 'route': route } )) }}
                </div>
            </div>
        </div>
    </div>
</div>