{% extends '/Ria/Profile/_step_two_form.html.twig' %}

{% block form_main_tag %}
    <form action="{{ path('rx_ria_change_profile_save_company_profile') }}" method="post" id='company_profile_form' enctype="multipart/form-data">
{% endblock %}

{% block form_actions %}
    <div class="col-8">
    {{ form_rest(form) }}
    </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-ajax" data-loading-text="Saving...">Save</button>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function($){
                // Company profile
                $("#company_profile .pop").popover();
                $("#riacompanyinformationtype_phone_number").inputmask("mask", {"mask": "(999) 999-9999"});
                $("#riacompanyinformationtype_fax_number").inputmask("mask", {"mask": "(999) 999-9999"});
            })

        </script>
{% endblock %}
