{% extends '/Client/Transfer/index.html.twig' %}

{% block top_content %}
    {{ render(controller('App\\Controller\\Client\\TransferController:progressMenu', { 'account': account, 'step': 'credentials' })) }}
{% endblock %}

{% block main_content %}
    <div>
        <h2>Need Credentials</h2>

        {% set group = account.groupName %}
        {% set type = account.groupName %}
        {% set employer_financial_institurion = account.financialInstitution | split('(') %}

        <div class="row">
            <div class="span">
                <strong>Type:</strong> {{ type }}
            </div>
            <div class="span">
                <strong>Estimated Value:</strong> ${{ account.value|number_format(2, '.', ',') }}
            </div>
            <div class="span">
                <strong>Monthly Contributions:</strong> ${{ account.monthlyContributions|number_format(2, '.', ',') }}
            </div>
        </div>

        <br />

        {% include '/Client/Transfer/_retirement_account_funds_list.html.twig' with { 'account': account } %}

        {% include
            '/Client/Transfer/_retirement_account_credentials_form.html.twig' with
            { 'account': account, 'form': form }
        %}
    </div>
{% endblock %}