{% extends 'WealthbotClientBundle::layout_styled.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@WealthbotRiaBundle/Resources/public/js/ria.model.chart.js'
        '@WealthbotClientBundle/Resources/public/js/client.dashboard.gainlosses.js'
        '@WealthbotClientBundle/Resources/public/js/client.account_selector.js'
    %}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% set is_client_view_value = is_client_view is defined ? is_client_view : true %}

    <div class="container-fluid">

        <div class="row margin-top-25">
            <div class="col-md-6">
                <img class="img-rounded" width="150px" src="{{ layout_variables.ria_logo }}"/>
            </div>
            <div class="col-md-6 right-text">
                <a class="btn btn-default"  href="{{ path('fos_user_security_logout') }}">Logout</a>
            </div>
        </div>

        <div class="row">

            {% include 'WealthbotClientBundle:Dashboard:_nav.html.twig' with {'action' : layout_variables.action, 'is_client_view': is_client_view_value} %}

            <div id="content" class="col-md-10 margin-top-7">

                <hr />
                {% block content %}
                    {% include 'WealthbotClientBundle:Dashboard:_index_content.html.twig' with {
                        'account_values': account_values,
                        'is_init_rebalance': is_init_rebalance,
                        'client': client,
                        'is_client_view': is_client_view,
                        'sas_cash_form': sas_cash_form
                    } %}
                {% endblock %}
            </div><!--/.fluid-container-->
        </div>
    </div>
{% endblock %}