<div class="box dashboard-cart" id="analytics_cart" data-include=":Ria:Dashboard/_analytics_box.html.twig">
    <div class="box-content most-recent-activity">
        <h2>Analytics</h2>
        <div class="row">
            <div class="col-10 col-offset-1">
                <div class="securities-analytics-chart" style="margin-top: 20px; width: 500px; height: 250px;" data-entities="{{ securities_statistic }}"></div>
            </div>
        </div>
    </div>
</div>