<h2>Your Documents</h2>

<div class="row">
    <div class="col-4">
        <div class="margin-top-10 clearfix">
            <h2>Privacy Policy</h2>
            <a href="#1">Privacy Policy</a>
        </div>
        <div class="margin-top-10 clearfix">
            <h3>User Agreement</h3>
            <a href="#1">User Agreement</a>
        </div>
    </div>
    <div class="col-8">
        <div class="margin-top-10 clearfix">
            <h3>ADV</h3>
            <a href="#">Advisor ADV</a>
        </div>
        <div class="margin-top-10 clearfix">
            <h3>Investment Management Agreement</h3>
            <a href="#">Investment Management Agreement</a>
        </div>
    </div>
</div>