<form action="{{ path('rx_client_transfer_create_bank_account') }}" method="post" enctype="multipart/form-data">
    {% include '/Client/Transfer/_create_bank_account_form.html.twig' with { 'form': form, 'account_id': 0 } %}
</form>