<div class="modal modal-account-settings modal-800">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <span class="clientName"></span>
        <span class="h3">Account settings</span>
    </div>
    <div class="modal-body">
        <div id="account-settings"></div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn save-modal-form-btn btn-primary">Save</button>
        <a href="#" class="btn btn-primary cancel-modal-form-btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
    </div>
    </div>
</div>
