{% extends '/Mailer/Client/_client_layout.html.twig' %}

{% block subject %}
    {% autoescape false %}
        Your Portfolio is Approved
    {% endautoescape %}
{% endblock %}

{% block message %}
    {% if (ria.riaCompanyInformation.slug) %}
        {% set login_url = subdomain_url(ria.riaCompanyInformation, 'login') %}
    {% else %}
        {% set login_url = url('login') %}
    {% endif %}

    {{ client.firstName }},<br/><br/>
    Your advisor has approved your portfolio and you may now <a href="{{ login_url }}">login</a> to begin the account opening/transfer process.
{% endblock %}