{% extends '/Admin/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/admin.general_settings.js') }}"></script>
    <script src="{{ asset('js/admin/admin.ria_dashboard.js') }}"></script>
{% endblock %}

{% block body %}
    <h3>RIA SPECIFIC DASHBOARD</h3>
    <div class="tabbable">
        <nav class="nav nav-tabs ">
            <li class="active nav-item"><a class="nav-link" href="#tab1" data-toggle="tab">Basic Info</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Clients</a></li>

            {% if is_permitted('edit') %}
                <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Settings</a></li>
            {% endif %}

            <li class="nav-item"><a class="nav-link" href="#tab4" data-toggle="tab">History</a></li>
        </nav>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                {% include '/Admin/Ria/_basic_info.html.twig' with { 'basicInfo': basicInfo } %}
            </div>
            <div class="tab-pane" id="tab2">
                {% include '/Admin/Ria/_clients_list.html.twig' with { 'pagination': pagination } %}
            </div>

            {% if is_permitted('edit') %}
                <div class="tab-pane" id="tab3">
                    {{ render(controller('\\App\\Controller\\Admin\\RiaController:riaSettings',{
                        ria_id: app.request.get('id')
                   }) ) }}
                </div>
            {% endif %}

            <div class="tab-pane" id="tab4">
                {% include '/Admin/Ria/_history.html.twig' with { 'history_pagination': history_pagination } %}
            </div>
        </div>
    </div>
{% endblock %}