{% extends '/Ria/Dashboard/index.html.twig' %}

{% block body %}

        <h3>Reset My Password</h3>


    <form action="{{ path('rx_ria_user_reset_self_password') }}" method="post">
        <fieldset>
            {{ form_rest(selfForm) }}
            <button type="submit" class="btn btn-primary" >Submit</button>
        </fieldset>
    </form>
{% endblock %}