<div class="row">
    {% include '/Client/Portfolio/_portfolio_chart.html.twig' with {
        'portfolio': portfolio_information.model,
        'model_entities': portfolio_information.modelEntities,
        'json_entities': portfolio_information.modelEntitiesAsJson,
        'client': client
    } %}
</div>
<div class="row">
    {% include '/Client/Portfolio/_portfolio_details.html.twig' with {
        'ria_company_information': ria_company_information,
        'has_retirement_account': has_retirement_account,
        'portfolio_information': portfolio_information,
        'client': client,
        'action': action
    } %}
</div>