{% extends 'WealthbotAdminBundle::layout.html.twig' %}

{% macro documentForm(form) %}
{% spaceless %}
    {% include 'WealthbotAdminBundle:GeneralSettings:_document_form.html.twig' with { 'form': form } %}
{% endspaceless %}
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@WealthbotAdminBundle/Resources/public/js/admin.general_settings.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <h1>Settings</h1>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#fees_tab" data-toggle="tab">Fees</a></li>
            <li><a href="#documents_tab" data-toggle="tab">Documents</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="fees_tab">
                <h3>Fees:</h3>
                <div class="admin-fees-list">
                    {% include 'WealthbotAdminBundle:GeneralSettings:_fees_form.html.twig' with { 'form': form } %}
                </div>
            </div>

            <div class="tab-pane" id="documents_tab" data-form="{{ _self.getDocumentForm(document_form)|escape }}">
                {% include 'WealthbotAdminBundle:GeneralSettings:_documents.html.twig' with { 'types': document_types } %}
            </div>
        </div>
    </div>
{% endblock %}