{% extends '/User/layout.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="flex-row d-flex align-items-center align-content-center justify-content-center mt-5">
        <form action="{{ path("rx_ria_register") }}" method="post" class="regRia-form col-6">
            <div style="padding: 10px 10px 0px 10px">
                        {{ form_widget(form) }}
                        {{ form_rest(form) }}
                        <input class="btn btn-outline-info" type="submit" value="Register">
                <p>
                    <br />
                </p>
            </div>
        </form>

        <div class="col-6">
            <div class="center-text logo-ce"><img style="width: 600px;" src="/img/logo.png" alt=""/></div>
        </div>
    </div>


</div>
{% endblock %}
