<script id="tplCreateSpecName" type="text/template">
    <h3>Create Billing Spec</h3>

    <div style="padding: 20px 20px">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="controls-line">
                    <div class="input-group">
                        <input type="text" name="name" class="col-2 name form-control" placeholder="Name of Billing Spec" value="<%= name %>">
                        <span class="input-group-addon btn btn-primary create-spec">Create</span>
                    </div>
                    <br />
                </div>
                <div class="controls-line">
                    {% if not is_relation_type_tamp %}
                        <div class="col-1">
                            <input type="radio" value="{{ constant("App\\Entity\\BillingSpec::TYPE_FLAT") }}" name="type" checked>Flat fee
                        </div>
                    {% endif %}
                    <div class="col-1">
                        <input type="radio" value="{{ constant("App\\Entity\\BillingSpec::TYPE_TIER") }}" name="type" {% if is_relation_type_tamp %} checked {% endif %}>Tier
                    </div>
                </div>

            </div>
        </form>
    </div>
</script>