<script id="tplTierFeeForm" type="text/template">

    <form class="form-horizontal">

        <div class="dataRegion"></div>
        <div class="tierRegion"></div>

    </form>
    <div class="form-group">
        <div class="controls-line">
            <button class="btn btn-primary save-spec"> Save </button>
        </div>
    </div>
</script>