<ol>
    {% for key, field in form %}
        {% if key != '_token' %}
            <li>
                <div class="form-group">
                    {{ form_label(field) }}
                    {{ form_widget(field, { 'attr': { 'disabled': 'disabled' } }) }}
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ol>