{% extends '/Admin/Rebalancer/index.html.twig' %}

{% block content %}
    {% include '/Admin/Rebalancer/_rebalance.html.twig' with {
        'client_values_pagination': client_values_pagination,
        'is_history': false,
        'form': form
    } %}

    <div class="center-text">
        <input type="button" class="btn btn-primary"  value="Create trade files" id="create_trade_files_btn"/>
    </div>
{% endblock %}