{% extends '/Admin/layout.html.twig' %}

{% block body %}
    <h3>CLIENT SPECIFIC DASHBOARD</h3>
    <div class="tabbable">
        <nav class="nav nav-tabs ">
            <li class="active nav-item"><a class="nav-link" href="#tab1" data-toggle="tab">Client Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Transactions</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">History</a></li>
        </nav>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                {% include '/Admin/Client/_client_profile.html.twig' with { 'client': client } %}
            </div>
            <div class="tab-pane" id="tab2">
                Transactions
            </div>
            <div class="tab-pane" id="tab3">
                {% include '/Admin/Ria/_history.html.twig' with { 'history_pagination': history_pagination } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript" src="{{ asset('js/admin/admin.client_dashboard.js') }}"></script>
{% endblock %}