<script id="tplTierDataForm" type="text/template">
    <!--<legend>Your Billing Schedule</legend>-->

    <!--<p>Enter your desired fee schedule below. This is the fee schedule your client will be charged, in addition to ours.-->
        <!--Click the "Preview Final Billing Specs" button to see a breakdown of wealthbot.io'-->
        <!--Billing Schedule and what your client's will see.</p>-->

    <table class="table table-stripped">

        <tbody class="tier-container">

        </tbody>
        <thead>
        <tr>
            <th>Fee</th>
            <th>Tier Bottom</th>
            <th>Tier Top</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>

    <div class="form-group">
        <div class="controls-line">
            <button class="btn btn-inverse add-tier">Add a Tier</button>
            <button class="btn btn-primary preview-fee">Preview Final Billing Specs</button>
        </div>
    </div>
</script>