<script type="text/template" id="tplSummaryClients">
    <table class="table r5 table-bordered margin-top-25 table-hover table-stripped">
        <thead>
            <tr>
                <th><input type="checkbox" id="toggleAll"></th>
                <th class="sortable" data-sortable="name">Client</th>
                <th class="sortable" data-sortable="clientStatus">Client Status</th>
                <th class="sortable" data-sortable="billingSpecName">Fee Schedule</th>
                <th class="sortable" data-sortable="paymentMethod">Payment Method</th>
                <th class="sortable" data-sortable="status">Bill status</th>
                <th class="sortable" data-sortable="billCreatedAt">Date</th>
                <th class="sortable" data-sortable="portfolioValue">Portfolio Value</th>
                <th class="sortable" data-sortable="cash">Cash</th>
                <th class="sortable" data-sortable="feeBilled">Fee Billed</th>
                <th class="sortable" data-sortable="feeCollected">Fee Collected</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>