<form id="contribute_account_form" class="def-form" action="{{ path('rx_client_dashboard_account_contribution', { 'account_id': account.id, 'type': type }) }}" method="post">
    {% include '/Client/Dashboard/_account_contribution_form_fields.html.twig' with {
        'form': form,
        'type': type,
        'messages': messages
    } %}

    <div class="form-actions">
        {{ form_widget(form._token) }}
        <input type="submit" class="btn btn-primary"  name="continue" value="Continue" />
    </div>
</form>