<li class="dropdown">
    <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
        <i class="glyphicon glyphicon-user"></i>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> Profile</a></li>
        <li><a href="{{ path('logout') }}"><i class="icon-off"></i> Logout</a></li>
    </ul>
</li>