{% extends '::base_demo_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@WealthbotUserBundle/Resources/public/js/user.default.js' %}
        <script type="text/javascript" src="/js/jquery.form.js"></script>

        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1><a href="/admin">Login as a super admin</a></h1>
        <div>
            Our platform allows you to create and manage multiple RIA firms under one installation. Use <strong>webo/weboDemo32</strong> to login.
        </div>


        <h1><a href="/ria/registration">Register RIA</a></h1>
        <div>
            Use wealthbot.io to offer SaaS for multiple RIA's, or run a single RIA entity on the same platform. The choice is yours.
        </div>

        <h1><a href="/client/registration/5">Register Client</a></h1>
        <div>
            wealthbot.io will automatically select a matching portfolio based on the client's risk tolerance. This is how we establish a relationship between a client
            and an RIA.
        </div>
    </div>
</div>
{% endblock %}
