{% extends '/Ria/layout.html.twig' %}

{% block headernav %}{% endblock %}

{% block flash_messages %}
    <div class="alert alert-success">
        <span class="text-bold">You've successfully created your login credentials</span><br />
        Logout at any point and the system will automatically save your progress.
    </div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row companyinfo">
        <div class="col-12">
            <div class="row">
                <div class="col-10">
                    <legend><h3>Company Profile</h3></legend>
                </div>
                <div class="save-and-logout">
                    <a class="btn btn-primary"  id="reg_save_btn" href="{{ path('logout') }}">Logout</a>
                    <span class="help-block">We'll save your progress.</span>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            {% include '/Ria/Profile/_company_profile_form.html.twig' with { 'form': form } %}
        </div>
        <div class="col-6">

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ria/ria.profile.js') }}"></script>
{% endblock %}
