{% extends '/Ria/layout.html.twig' %}

{% block body %}
<div class="row firm-marketing">
    <div class="col-12">
        <div class="row">
            <div class="col-10">
                <h3>Step 5 of 5: Marketing Your Firm</h3>
            </div>
            <div class="save-and-logout">
                <a class="btn btn-primary"  id="reg_save_btn" href="{{ path('logout') }}">Logout</a>
                <span class="help-block">We'll save your progress.</span>
            </div>
        </div>
        <legend>
            <p>
                Decide if you would to be in our searchable database for thousands of investors to find your company.
            </p>
        </legend>
    </div>

    {% include '/Ria/Profile/_step_five_form.html.twig' with { 'form': form } %}

{% endblock %}
