{% extends '/Ria/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    <h3>Step 3 of 5: Billing</h3>
                </div>
                <div class="save-and-logout">
                    <a class="btn btn-primary"  id="reg_save_btn" href="{{ path('logout') }}">Logout</a>
                    <span class="help-block">We'll save your progress.</span>
                </div>
            </div>
            <legend>
                <p>
                    You are able to input the billing schedule you would like us to change clients. Your fee will be
                    combine with ours, so you can see the final billing schedule to the client.
                </p>
            </legend>
        </div>

        {% include '/Ria/Profile/_step_three_form.html.twig' with { 'form': form } %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ria/ria.fees.table.js') }}"></script>
{% endblock %}
