{% extends '/Ria/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ria/ria.profile.js') }}"></script>
{% endblock %}

{% block body %}
<div class="row companyinfo">
    <div class="col-12">
        <div class="row">
            <div class="col-10">
                <h3>Step 2 of 5: Company Profile</h3>
            </div>
            <div class="save-and-logout">
                <a class="btn btn-primary"  id="reg_save_btn" href="{{ path('logout') }}">Logout</a>
                <span class="help-block">We'll save your progress.</span>
            </div>
        </div>
        <legend>
            <p>
                Please fill in the following profile information for your company. If you choose to be in our
                AdvisorLink database, this is the information that will be displayed.
            </p>
        </legend>
    </div>
</div>

{% include '/Ria/Profile/_step_two_form.html.twig' with { 'form': form } %}

{% endblock %}
