<table class="table table-striped sorted-table" id="secTable">
    <thead>
    <tr>
        <th><a href="#"><span class="caret"></span> #</a></th>
        <th><a href="#1"><span class="caret"></span> Symbol</a></th>
        <th><a href="#1"><span class="caret"></span> Security Name</a></th>
        <th><a href="#1"><span class="caret"></span> Asset Class</a></th>
        <th><a href="#1"><span class="caret"></span> Subclass</a></th>
        <th><a href="#1"><span class="caret"></span> Type</a></th>
        <th><a href="#1"><span class="caret"></span> Expebse Ratio</a></th>
        <th>Muni<br/>Substitution</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1.</td>
        <td><input type="text" class="col-2 form-control"/></td>
        <td>Vanguard Total Stock</td>
        <td>Stocks</td>
        <td>U.S. Large Value</td>
        <td>Mutual Fund</td>
        <td>.07%</td>
        <td><input type="checkbox"/></td>
        <td><a href="#">Edit</a>&nbsp;<a href="#">Delete</a></td>
    </tr>
    <tr>
        <td>2.</td>
        <td><input type="text" class="col-2 form-control"/></td>
        <td></td>
        <td><select class="col-2"><option></option></select> </td>
        <td><select class="col-2"><option></option></select> </td>
        <td></td>
        <td></td>
        <td><input type="checkbox"/></td>
        <td><a href="#">Edit</a>&nbsp;<a href="#">Delete</a></td>
    </tr>
    <tr>
        <td>3.</td>
        <td><input type="text" class="col-2 form-control"/></td>
        <td></td>
        <td><select class="col-2"><option></option></select> </td>
        <td><select class="col-2"><option></option></select> </td>
        <td></td>
        <td></td>
        <td><input type="checkbox"/></td>
        <td><a href="#">Edit</a>&nbsp;<a href="#">Delete</a></td>
    </tr>
    <tr>
        <td>4.</td>
        <td><input type="text" class="col-2 form-control"/></td>
        <td></td>
        <td><select class="col-2"><option></option></select> </td>
        <td><select class="col-2"><option></option></select> </td>
        <td></td>
        <td></td>
        <td><input type="checkbox"/></td>
        <td><a href="#">Edit</a>&nbsp;<a href="#">Delete</a></td>
    </tr>
    <tr>
        <td>5.</td>
        <td><input type="text" class="col-2 form-control"/></td>
        <td></td>
        <td><select class="col-2"><option></option></select> </td>
        <td><select class="col-2"><option></option></select> </td>
        <td></td>
        <td></td>
        <td><input type="checkbox"/></td>
        <td><a href="#">Edit</a>&nbsp;<a href="#">Delete</a></td>
    </tr>

    </tbody>
</table>
<a href="#1" onclick="addSecurity()" class="btn btn-primary" >+ Add Security</a>