<script id="tplClientsTable" type="text/template">
    <table class="table">
        <thead>
            <tr>
                <th class="sortable" data-sortable="status">Status</th>
                <th class="sortable" data-sortable="lastName">Last name</th>
                <th class="sortable" data-sortable="firstName">First Name</th>
                <th class="sortable" data-sortable="advisorSet">Advisor Set</th>
                <th class="sortable" data-sortable="accountType">Account Type</th>
                <th class="sortable" data-sortable="number">Account Number</th>
                <th class="sortable" data-sortable="custodian">Custodian</th>
                <th class="sortable" data-sortable="billingSpec">Billing Spec</th>
                <th class="sortable" data-sortable="ceModels">Model</th>
                <th class="sortable" data-sortable="totalValue">Value</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</script>
