<div class="modal modal-client-settings modal-800">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="bbh3">Household settings</h3>
    </div>
    <div class="modal-body">
        <div id="household-close" class="pull-right text-right"></div>
        <div class="tabbable clearfix">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#personal" data-toggle="tab">Personal</a></li>
                <li><a href="#contact" data-toggle="tab">Contact</a></li>
                <li><a href="#billing" data-toggle="tab">Billing</a></li>
                <li><a href="#portfolio" data-toggle="tab">Portfolio Management</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="personal"></div>
                <div class="tab-pane" id="contact"></div>
                <div class="tab-pane" id="billing"></div>
                <div class="tab-pane" id="portfolio"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn save-modal-form-btn btn-primary">Save</button>
        <a href="#" class="btn btn-default cancel-modal-form-btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
    </div>
    </div>
</div>
