<div class="notes-acc-rx">
    <h4 class="unbold-h4">1. Please review your accounts below. To add more, select from the options to the left.</h4>
    <h4 class="unbold-h4">2. If you are finished adding accounts, click "See My Portfolio" to generate your personalized portfolio.</h4>
    <i><small>Please note: You may not edit your information once you have clicked "See My Portfolio"</small></i>
</div>
{#Any other accounts you'd like us to manage for you?#}
{#If not, <a href="javascript:void(0);" onclick="showAccountsTable('{{ path('rx_client_profile_show_accounts_table') }}');">click here</a> to#}
{#review the accounts you have submitted, or move to the next step to see your suggested portfolio.#}