{% for type in types %}
    {% if type.vars.label == 'Personal Account' %}
        {% set new_label = 'Personal Investment Account' %}
        {% set new_sub_label = 'A standard, taxable account.' %}

   {# {% elseif type.vars.label == 'Joint Account' %}
        {% set new_label = 'Joint Investment Account' %}
        {% set new_sub_label = 'A taxable joint account with rights of survivorship.' %}
#}
    {% elseif type.vars.label == 'Roth IRA' %}
        {% set new_label = 'Roth IRA' %}
        {% set new_sub_label = 'A tax-free retirement account. Contributions are not tax-deductible.' %}

    {% elseif type.vars.label == 'Traditional IRA' %}
        {% set new_label = 'Traditional IRA' %}
        {% set new_sub_label = 'A tax-deferred retirement account. Contributions may be tax-deductible.' %}

    {% endif %}

    <div>
        <label class="checkbox" for="{{ type.vars.id }}">
            {{ form_widget(type) }}
        </label>
    </div>
{% endfor %}