<div id="jsAlert"></div>

<script type="text/template" id="tpl_alertMessage">
    <div class="js-alert alert alert-block alert-<%= type %>">
        <button class="close" data-dismiss="js-alert" type="button">×</button>
        <h4 class="alert-heading"><%= type %></h4>
        <p><%= message %></p>
    </div>
</script>