<form id="edit_strategy_form" class="form-inline" action="{{ path('rx_admin_models_edit_strategy', {'id': third_party.id}) }}" method="post">
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {'attr': {'placeholder': 'Name of Strategy', 'class': 'input-medium'}}) }}
    {{ form_rest(form) }}
    {#<button type="submit" class="btn btn-primary" >Save</button>#}
</form>