<div class="retirement-account-funds">
    {% include '/Ria/Client/_outside_fund_association_list.html.twig' with {'account': account } %}
</div>

{% include '/Ria/Client/retirement_account_fund_form.html.twig' with {'form': form} %}