{% extends 'base_demo_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <style>
        .center-block {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="span4"></div>
            <div class="span4"><img class="center-block" src="{{ asset('img/logo.png') }}" />
            <div class="span4"></div>
        </div>
    </div>
    <!-- Start of Card Groups Layout -->
    <div class="card-group front-cards">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Register RIA</h4>
                <p class="card-text">Use {{ 'wealthbot.io' | trans }} to offer SaaS for multiple RIA's, or run a single RIA entity on the same platform. The choice is yours.</p>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <small class="text-muted"><a class="btn btn-outline-info"  href="/ria/registration">Register RIA</a></small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Login as RIA</h4>
                <p class="card-text">
                    Take a look at the features of the RIA account. Use <strong>registered account details</strong> to login.
                </p>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <small class="text-muted"><a class="btn btn-outline-info" href="/login">Login as an RIA</a></small>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Register new Client</h4>
                <p class="card-text">{{ 'wealthbot.io' | trans }} will automatically select a matching portfolio based on the client's risk tolerance. This is how we establish a relationship between a client
                    and an RIA.
                </p>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <small class="text-muted"><a class="btn btn-outline-info"  href="/client/registration/5">Register Client</a></small>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Login as Client</h4>
                <p class="card-text">
                    Take a look at the features of the Client account. Use registered account details to login.
                </p>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <small class="text-muted"><a class="btn btn-outline-info"  href="/login">Client Login</a></small>
            </div>
        </div>
    </div>
        <p class="text-center text-muted text-bold">
            <br />
            Also available admin access with <a href="/admin/login">this</a> link (u: webo, p: weboDemo32), You can change it later.
        </p>
{% endblock %}
