{% extends 'base_demo_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1><a href="/login">Login as an RIA</a></h1>
        <div>
            Take a look at the features of the RIA account. Use <strong>webo/weboDemo32</strong> to login.
        </div>

        <h1><a href="/login">Login as a Client</a></h1>
        <div>
            Take a look at the client dashboard. Use <strong>webo/weboDemo32</strong> to login.
        </div>

         <h1><a href="/admin/login">Login as a super admin</a></h1>
        <div>
            Our platform allows you to create and manage multiple RIA firms under one installation. Use <strong>webo/weboDemo32</strong> to login.
        </div>

        <h1><a href="/ria/registration">Register RIA</a></h1>
        <div>
            Use wealthbot.io to offer SaaS for multiple RIA's, or run a single RIA entity on the same platform. The choice is yours.
        </div>

        <h1><a href="/client/registration/{{ ria.id }}">Register Client</a></h1>
        <div>
            wealthbot.io will automatically select a matching portfolio based on the client's risk tolerance. This is how we establish a relationship between a client
            and an RIA.
        </div>
    </div>
</div>
{% endblock %}
