{% extends '::base.html.twig' %}

{% block headernav %}
	<div class="navbar  navbar-default">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="navbar-brand" href="#" name="top">wealthbot.io</a>
			</div>
			<!--/.container-fluid -->
		</div>
		<!--/.navbar-inner -->
	</div>
	<!--/.navbar -->
{% endblock %}

{% block body %}
{% endblock %}