{% extends ((with_layout is defined and with_layout) ? '/Ria/Dashboard/index.html.twig' : '/Ria/model_tab_layout.html.twig') %}

{% block body %}
    <div id="models_tab">

        {% include '/Ria/Models/_create_model_form.html.twig' with {'form': form, 'model_id': model.id} %}

        <div class="row">
            <div class="col-12">
                <h3>Models</h3>
            </div>
        </div>
        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error:</strong> {{ app.session.flash('notice') }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12 mb20" id="models_list">
                {% include '/Ria/Models/_models_list.html.twig' with {'models': models} %}
            </div>
        </div>
    </div>
{% endblock %}