{% extends '/Ria/Dashboard/rebalancing.html.twig' %}

{% block content %}
    <form action="{{ path('rx_ria_rebalancing_generate_trade_file') }}" method="post" id="rebalance_post_form">
        {% include '/Ria/Rebalancer/_rebalance.html.twig' with {
            'client_values_pagination': client_values_pagination,
            'is_history': false,
            'form': form
        } %}

        <div class="center-text">
            <input type="submit" class="btn btn-primary"  value="Create trade files" id="create_trade_files_btn"/>
        </div>

        {{ form_rest(form) }}
    </form>
{% endblock %}