{% extends '/Ria/Profile/_step_three_form.html.twig' %}

{% block form_main_tag %}
    <form id="billing_n_accounts_form" action="{{path('rx_ria_change_profile_save_billing')}}" method="post">
{%  endblock %}

{% block form_actions %}

    {{ form_rest(form) }}

    <div class="col-12">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-ajax" data-loading-text="Saving...">Save</button>
        </div>
    </div>
{% endblock %}