{% extends '/Ria/Profile/_step_three_form.html.twig' %}

{% block form_main_tag %}
    <form id="billing_n_accounts_form" action="{{ is_permitted('edit') ? path('rx_admin_ria_sd_save_billing', { ria_id: app.request.get('ria_id') }) : '#' }}" method="post">
{%  endblock %}

{% block form_actions %}

    {{ form_rest(form) }}

    {% if is_permitted('edit') %}
        <div class="col-12">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-ajax" data-loading-text="Saving...">Save changes</button>
            </div>
        </div>
    {% endif %}
{% endblock %}