{% extends '/Ria/Profile/_step_two_form.html.twig' %}

{% block form_main_tag %}
    <form action="{{ is_permitted('edit') ? path('rx_admin_ria_sd_save_company_profile', { ria_id: app.request.get('ria_id')}) : '#' }}" method="post" id='company_profile_form'>
{% endblock %}

{% block form_actions %}
    <div class="col-12">
        {{ form_rest(form) }}
    </div>

    {% if is_permitted('edit') %}
        <div class="col-12">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-ajax" data-loading-text="Saving...">Save changes</button>
            </div>
        </div>
    {% endif %}

    {% if app.request.isXmlHttpRequest %}
        <script type="text/javascript">
            // Company profile
            $("#wealthbot_riabundle_riacompanyinformationtype_phone_number").inputmask("mask", {"mask": "(999) 999-9999"});
            $("#company_profile .pop").popover();
        </script>
    {% endif %}
{% endblock %}
