{% extends '/Ria/Profile/_step_four_form.html.twig' %}

{% block form_main_tag %}
    <form id="portfolio_management_form" action="{{ is_permitted('edit') ? path('rx_admin_ria_sd_save_portfolio_management', {ria_id: app.request.get('ria_id')}) : '#' }}" method="post">
{%  endblock %}


{% block models %}
    <div class="col-12">
        <legend>Models</legend>
        <strong>Current Model:</strong>
        {{ currentModel.typeName }}
    </div>
{% endblock %}


{% block form_actions %}

    {{ form_rest(form) }}

    {% if is_permitted('edit') %}
        <div class="col-12">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-ajax" data-loading-text="Saving...">Save changes</button>
            </div>
        </div>
    {% endif %}

    {% if app.request.isXmlHttpRequest == true %}
        <script src="{{ asset('js/ria/ria.portfolio.management.js') }}"></script>

        <script type="text/javascript">
            $(function(){
                $('.pop').popover();
            });
        </script>
    {% endif %}

{% endblock %}


