{% extends '/Client/ChangeProfile/_manage_users.html.twig' %}

{% block title %}
    {{ 'Edit client ' ~ client.firstName ~ ' ' ~ client.lastName}}
{% endblock %}

{% block form_buttons %}
    <button type="submit" class="btn btn-primary btn-ajax margin-left-20">Save</button>
    <a class="manage-users-cancel-edit-btn btn" href="{{ path('rx_client_change_profile_manage_users') }}">Cancel</a>
{% endblock %}

{% block form_action %}
    {{ path('rx_client_change_profile_manage_users_edit', { 'client_id': client.id }) }}
{% endblock %}