{#
<div class="navbar navbar-default">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a href="/client/dashboard" class="navbar-brand"> <span>Client Dashboard</span></a>

            <!-- start: Header Menu -->
            <div class="btn-group pull-right">
                &#123;&#35;<a href="#" class="btn btn-primary" >&#35;&#125;
                    &#123;&#35;<i class="icon-warning-sign"></i><span class="hidden-phone hidden-tablet"> notifications</span> <span class="label label-important hidden-phone">2</span> <span class="label label-success hidden-phone">11</span>&#35;&#125;
                &#123;&#35;</a>&#35;&#125;
                &#123;&#35;<a href="#" class="btn btn-primary" >&#35;&#125;
                    &#123;&#35;<i class="icon-envelope"></i><span class="hidden-phone hidden-tablet"> messages</span> <span class="label label-success hidden-phone">9</span>&#35;&#125;
                &#123;&#35;</a>&#35;&#125;
                &#123;&#35;<a href="#" class="btn btn-primary" >&#35;&#125;
                    &#123;&#35;<i class="icon-wrench"></i><span class="hidden-phone hidden-tablet"> account settings</span>&#35;&#125;
                &#123;&#35;</a>&#35;&#125;
                <!-- start: User Dropdown -->
                <a href="#" data-toggle="dropdown" class="btn dropdown-toggle btn-primary">
                    <i class="icon-user"></i><span class="hidden-phone hidden-tablet"> user</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    &#123;&#35;<li class="divider"></li>&#35;&#125;
                    <li></li>
                </ul>
                <!-- end: User Dropdown -->
            </div>
            <!-- end: Header Menu -->

        </div>
    </div>
</div>#}
